.form-transacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .label-acima {
    display: flex;
    flex-direction: column;
  }

  input:not([type="radio"]),
  select {
    padding-left: 8px;
    height: 35px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    background-color: #efefef;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
    }
  }
}
