    <!-- Correção, tirei o "." que tava antes do "/", pq ele deixa o caminho relativa e não absoluto -->
     <!-- Logo, uma URL que tivesse /trasacao/index se juntaria e ficaria = /trasacao/index/assets/js/bundle.js -->
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>