<header class="cabecario">
  <a class="logo" href="/">SaldoSeguro</a>
  <ul class="navbar">
    <li>
      <a class="btn-nav" href="/transacao">Adicionar transação</a>
    </li>
    <li><a class="btn-nav" href="/cartao">Cartão de crédito</a></li>
    <li>
      <% if(!user) { %>
      <a class="btn botao-principal" href="/login">Login</a>
      <% } else { %>
      <a class="btn botao-principal" href="/logout">Sair</a>
      <% } %>
    </li>
  </ul>
</header>
