<%- include("includes/head.ejs")%>
<div class="container">
  <!-- Criamos uma linha -->
  <div class="row">
    <!-- Cada col dessa é uma coluna duas 20% e uma 80% da tela-->
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="display-1 text-center">Erro 404!</h1>
      <p class="text-center leed">A página que você procura não existe.</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include("includes/footer.ejs")%>
