<%- include("includes/head") %> <%- include("includes/nav") %>

<div class="container">
  <div class="row my-5">
    <!-- Margem láteral -->
    <div class="col-lg-2"></div>
    <!-- Conteúdo -->
    <div class="col-lg-8">
      <h1 class="text-center">Controle Finaçeiro</h1>
      <p class="text-center leed">Suas despesas estão listada abaixo:</p>

      <%- include("includes/message") %>

      <div class="resposive-table">
        <table class="table my-3">
          <tr>
            <td>16/04/2024</td>
            <td>100R$</td>
            <td>Categoria</td>
            <td>
              <a href="" class="">Editar</a>
              <a href="" class="text-danger">Deletar</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Margem láteral -->
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include("includes/footer") %>
