<%- include("includes/head") %> <%- include("includes/nav") %>
<div class="container c-s">
  <div>
    <h1>Criar Conta ou Entrar</h1>
    <p class="titulo-descricao">Preencha os campos abaixo para poder entrar na sua conta:</p>
    <%- include("includes/message") %>
    <form action="/login/login" method="POST" class="form">
      <!-- Email -->
      <div class="form-group">
        <label for="floatingInput">Email</label>
        <input type="email" class="form-control" placeholder="name@example.com" name="email" />
      </div>
      <!-- Senha -->
      <div class="form-group">
        <label for="floatingPassword">Senha</label>
        <input type="password" class="form-control input-senha" placeholder="Senha" name="password" />
      </div>
      <!-- Mostrar senha -->
      <div class="checkbox mb-3">
        <label> <input type="checkbox" class="checkbox-mostraSenha" /> Mostrar senha </label>
      </div>

      <button class="btn botao-principal" type="submit">Entrar na conta</button>

      <hr />

      <small class="texto-segundario"
        >Se ainda não tem uma conta, faça a sua agora em <a href="/">criar conta</a></small
      >
    </form>
  </div>
</div>
<%- include("includes/footer") %>
