* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  list-style: none;
}
body {
  background-color: $cor-bg;
  font-family: "Poppins", sans-serif;
}

//containers
.container {
  padding: 0 10px;
  width: 100%;
  margin: 20px auto;
}
.c-g {
  max-width: 1200px;
  min-width: 400px;
}
.c-s {
  max-width: 450px;
  min-width: 300px;
}

// Botão
.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: $cor-danger;
  color: #fff;

  &:hover {
    background-color: darken($cor-danger, 10%);
  }
}

.botao-principal {
  background-color: $cor-secundaria;
  color: #fff;

  &:hover {
    background-color: darken($cor-secundaria, 10%);
  }
}

.botao-segundario {
  background-color: #f4d279;
  color: #fff;

  &:hover {
    background-color: darken($cor-secundaria, 10%);
  }
}

// Titulos (Texto)
.titulo-h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}
.titulo-descricao {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 300;
}
.texto-segundario {
  font-size: 0.9rem;
  color: $texto-segundario;

  a {
    color: blue;
  }
}
.text-danger {
  font-size: 0.9rem;
  color: $cor-danger;
}

//linha
hr {
  opacity: 0.5;
}

// mensagem de erro do formulario
.form-texto-erro {
  color: $cor-danger;
  font-size: 0.8rem;
}
.is-invalid {
  border: 1px solid $cor-danger !important;
}

// ul e li
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

// configurar inputs e labels padão
.form-group {
  display: flex;
  flex-direction: column;

  input:not([type="radio"]),
  select {
    padding-left: 8px;
    height: 45px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    background-color: #efefef;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.form-modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-padrao {
  padding: 18px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
