* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  list-style: none;
}

body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 10px;
  width: 100%;
  margin: 20px auto;
}

.c-g {
  max-width: 1200px;
  min-width: 400px;
}

.c-s {
  max-width: 450px;
  min-width: 300px;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn-danger:hover {
  background-color: #bd2130;
}

.botao-principal {
  background-color: #3d9740;
  color: #fff;
}
.botao-principal:hover {
  background-color: #2e7331;
}

.botao-segundario {
  background-color: #f4d279;
  color: #fff;
}
.botao-segundario:hover {
  background-color: #2e7331;
}

.titulo-h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

.titulo-descricao {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.texto-segundario {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.55);
}
.texto-segundario a {
  color: blue;
}

.text-danger {
  font-size: 0.9rem;
  color: #dc3545;
}

hr {
  opacity: 0.5;
}

.form-texto-erro {
  color: #dc3545;
  font-size: 0.8rem;
}

.is-invalid {
  border: 1px solid #dc3545 !important;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input:not([type=radio]),
.form-group select {
  padding-left: 8px;
  height: 45px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
}
.form-group input:not([type=radio]):focus,
.form-group select:focus {
  outline: none;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-padrao {
  padding: 18px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabecario {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  background-color: #212121;
  color: #fff;
}
.cabecario a {
  color: #fff;
  text-decoration: none;
}
.cabecario .logo {
  font-size: 1.8rem;
  font-weight: 700;
}
.cabecario .navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cabecario .btn-nav {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  cursor: pointer;
  padding: 7px 0;
  transition: color 0.2s ease-in-out;
}
.cabecario .btn-nav:hover {
  color: #fff;
}

.alert {
  padding: 10px;
  text-align: center;
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  margin: auto;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-success {
  background-color: #145aca;
}

.alert-danger {
  background-color: #ff0000;
}

/* styles.css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 12% auto;
  padding: 20px;
  border-radius: 5px;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-credito {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-credito .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #3d9740;
  color: #fff;
}
.card-credito .card-header .card-brand {
  display: flex;
  align-items: center;
}
.card-credito .card-header .brand-icon {
  width: 24px;
  height: 24px;
  background-color: #ffcc00;
  border-radius: 50%;
  margin-right: 8px;
}
.card-credito .card-header .card-options {
  font-size: 20px;
}
.card-credito .card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-credito .card-body .card-title {
  color: #3d9740;
  margin-bottom: 6px;
}
.card-credito .card-body .card-detail {
  display: flex;
  justify-content: space-between;
}
.card-credito .card-body .label {
  color: #555;
}
.card-credito .card-body .value {
  color: #000;
}
.card-credito .card-footer {
  padding: 16px;
  text-align: center;
  background-color: #f7f7f7;
}
.card-credito .card-footer .btn-vencido {
  background-color: #ff6f61;
  color: #fff;
}
.card-credito .card-footer .btn-vencido:hover {
  background-color: #ff412e;
}

.cards-flex {
  display: flex;
  gap: 10px;
}
.cards-flex .card {
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 170px;
  flex: 1;
}
.cards-flex .card .card-titulo {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
.cards-flex .card .card-valor {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 560px) {
  .cards-flex {
    flex-wrap: wrap;
  }
  .cards-flex .card {
    max-width: 100%;
  }
}
.btn-grup-filtro {
  margin-top: 30px;
  margin-bottom: 10px;
}

.table-transacoes {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.1);
}
.table-transacoes th {
  background-color: #3d9740;
  color: #fff;
  padding: 10px;
  text-align: left;
}
.table-transacoes td {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.table-transacoes .tipo-tran {
  display: flex;
  align-items: center;
}
.table-transacoes .alinhar-direita {
  text-align: right;
}

.section-nao-logado {
  margin-top: 10%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.section-nao-logado .div-informativo {
  max-width: 650px;
}
.section-nao-logado .div-informativo .titulo-g {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
  width: 100%;
}
.section-nao-logado .div-informativo p {
  width: 80%;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0.5em;
}
.section-nao-logado .formRegister {
  min-width: 380px;
}

@media screen and (max-width: 1100px) {
  .section-nao-logado .div-informativo {
    text-align: center;
  }
  .section-nao-logado .div-informativo p {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section-nao-logado .div-informativo .titulo-g {
    font-size: 2.5rem;
  }
  .section-nao-logado .div-informativo p {
    font-size: 1.2rem;
  }
}
.msg-sem-transacao {
  margin-top: 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.55);
}

.cartao-home {
  display: flex;
  gap: 40px;
}
.cartao-home .cartoes-infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cartao-home .cartoes-infos .funcoes {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cartao-home .cartoes-infos .funcoes .input-data {
  outline: none;
  border: none;
}
.cartao-home .cartoes-infos .funcoes .btn-add-cartao {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}
.cartao-home .grupo-cartoes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
