.alert {
  padding: 10px;
  text-align: center;
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  margin: auto;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.alert-success {
  background-color: #145aca;
}
.alert-danger {
  background-color: #ff0000;
}
